<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
   <listener class-name = "com.qa.TN.Listeners.MyListeners" />
</listeners>

  <test name="Test">
    <classes>
      <class name="com.qa.TN.TestCases.CheckOutTest"/>
      <class name="com.qa.TN.TestCases.RegisterTest"/>
      <class name="com.qa.TN.TestCases.LoginTest"/>
      <class name="com.qa.TN.TestCases.SearchProductTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
